.image {
  /* border: 1px solid green; */
  flex: 1 1 17rem;
  min-width: 0;
  aspect-ratio: 1;
  background-size: cover;
  background-position: 50% 80%;
  border-radius: 1.2rem;
  display: flex;
  align-items: flex-end;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.09);
}

.infoContainer {
  background-color: #F6F1E5;
  border-radius: 1rem;
  width: 100%;
  padding: 0.4rem 0.6rem;

}

.infoContainer .span1{
  display: flex;
  justify-content: space-between;
  padding-right: 1rem
}
.purchaseInfo{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

.buttonContainer{
    display: flex;
    gap: 0.7rem;
    border-left: 1px solid;
    border-right: 1px solid;
    border-radius: 0.4rem;
    height: 1.5rem;
    padding: 0rem 0.5rem;
    align-items: center;
    width:fit-content;
}

@media(max-width: 935px){
  .cardContainer{
    background-position: 50% 60%;
  }
}

@media(max-width: 485px){
  .cardContainer{
    height: 200px;
  }
}