.cartView {
  /* border: 1px solid black; */
  padding: 0 3rem;
}

.cartItems {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* justify-content: center; */
  /* align-items: center; */
  height: fit-content;
  /* border: 1px solid red; */
}

.cartCard {
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.05);
  width: 75%;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.322);
  /* border: 1px solid green; */
}

.cartCard img {
  aspect-ratio: 1;
  width: clamp(8rem, 18vw, 12rem);
  border-radius: 1rem;
  flex-shrink: 0;
}
.header {
  display: flex;
  justify-content: space-between;
}

.cartInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
  /* border: 1px solid red; */
}
.ingredients {
  display: flex;
  gap: 0.5rem;
}

.cartCard .buttons {
  display: flex;
  justify-content: space-between;
}

.cartCard .buttons1 {
  display: flex;
  gap: 1rem;
}
.cartCard .bt1 {
  border: 1px solid black;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
}

.cartTotal {
  height: fit-content;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.322);
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  top: 25%;
  right: 1%;
  width: 25%;
  padding: 1rem;
}

.cartTotal .item {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .cartCard {
    width: 100%;
  }

  .cartView {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .cartItems {
    /* justify-content: center; */
    align-items: center;
  }
  .cartTotal {
    position: static;
    width: 80%;
  }
}
