* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0.3rem;
  background-color: #f3ead8;
  /* background-color: #F7F2E8; */
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
ul {
  list-style: none;
}

h5,
h4,
h3,
h2 {
  font-weight: normal;
}

h1{
  font-family: "Gaegu", sans-serif;
  font-size: 3rem;
}

h2 {
  font-family: "Emilys Candy", serif;
  font-size: 1.5rem;
}
h3 {
  font-family: "Dekko", cursive;
  font-size: 1.3rem;
}

h4 {
  font-family: "Emilys Candy", serif;
  font-size: 1.2rem;
}

h5 {
  font-family: "Dekko", cursive;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.menuPreviewPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

@media (max-width: 45rem) {
  html {
    /* border: 1px solid pink; */
    font-size: 1.5vh;
  }
}

@media (max-width: 20rem) {
  html {
    border: 1px solid yellow;
    font-size: 1.1vh;
  }
}

@media (max-width: 15rem) {
  html {
    border: 1px solid yellow;
    font-size: 0.7vh;
  }
}
